<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202466090396-ghkhc4vm8gn9j7vqis8banbsclesb4l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202466090396-ghkhc4vm8gn9j7vqis8banbsclesb4l4</string>
	<key>API_KEY</key>
	<string>AIzaSyARiO0xDtvnW-mszSSFpI9SS1ozyj8HHA8</string>
	<key>GCM_SENDER_ID</key>
	<string>202466090396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mct.OnlineShopApp</string>
	<key>PROJECT_ID</key>
	<string>onlineshopapp-da94b</string>
	<key>STORAGE_BUCKET</key>
	<string>onlineshopapp-da94b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202466090396:ios:09ca29ee3fb1a25316fc59</string>
	<key>DATABASE_URL</key>
	<string>https://onlineshopapp-da94b.firebaseio.com</string>
</dict>
</plist>